# Maven
target/
*/target/

# Logs
logs/
*.log

# IntelliJ / IDEA
.idea/
*.iml
out/

# Eclipse / STS
.project
.classpath
.settings/

# MacOS
.DS_Store

# Build artifacts
*.jar
*.war

# Docker
docker-images/



# Spring config with secrets (only if you don’t want to track them)
auth-service/src/main/resources/application-*.properties
notes-service/src/main/resources/application-*.properties

# Env files
.env
*.env

# Spring config with secrets
auth-service/src/main/resources/application-*.properties
notes-service/src/main/resources/application-*.properties


# docker-compose.yml

